<div "row">
  <div class="col s12">
    <h1>Errors</h1>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% if @password_confirmation_error %>
    <p class="deep-orange-text text-darken-3"> Your password and password confirmation did not match.</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% elsif @incorrect_password_error %>
    <p class="deep-orange-text text-darken-3"> We didn't recognize that email and password combo.</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% elsif @user != nil %>
      <% @user.errors().full_messages().each() do |message| %>
      <p class="deep-orange-text text-darken-3"><%= message %></p>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% else %>
    <p class="deep-orange-text text-darken-3">We're sorry, there was an error. Please go back and retry.</p>
  </div>
</div>
   <% end %>
<a class="waves-effect waves-light btn deep-orange darken-3" href="/">Back</a>
