<div "row">
  <div class="col s12">
    <h1>Errors</h1>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% if @password_confirmation_error %>
    <p class="teal-text text-darken-2"> Your password and password confirmation did not match.</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% elsif @password_error != nil %>
    <p class="teal-text text-darken-2"> We didn't recognize that email and password combo.</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% elsif @user != nil %>
      <% @user.errors().full_messages().each() do |message| %>
      <p class="teal-text text-darken-2"><%= message %></p>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% else %>
    <p class="teal-text text-darken-2">We're sorry, there was an error. Please go back and retry.</p>
  </div>
</div>
   <% end %>
<a class="waves-effect waves-light btn" href="/">Back</a>
