<div id="fullpage">
  <div class="section header">
    <div class="row">
      <div class="col s12 header">
        <h1 class="grey-text text-darken-3"> JAM </h1>
        <h5 class="grey-text text-darken-2">STOP PLAYING WITH YOURSELF</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 header">
        <img src="/img/jamnew.png">
        <a href="#about" class="btn-floating btn-large waves-effect waves-light white secondary-content z-index-5">
          <i id="down-arrow" class="deep-orange-text text-darken-3 large material-icons center-align">keyboard_arrow_down</i>
        </a>
      </div>
    </div>
  </div>

  <div id="about" class="section white-transparent hoverable">
    <div class="row">
      <h3 class="text-area col s12 center-align">Connecting Local Musicians</h3>
    </div>
    <div class="row">
      <p class="text-area col s12 center-align">You play bass.<br>Usually you get Kenny on guitar, Miranda on vocals, and Scott on drums. <br>Kenny sucks, Miranda is condescending, and Scott always says he'll show up this time and then bails.</p>
        <div class="more-top-padding center-align"><font class="bold">You need a new group.</font></div>
    </div>
  </div>

  <div id="local" class="section white-transparent hoverable">
    <div class="row">
      <h3 class="text-area col s12 center-align">Find a Jam</h3>
    </div>
    <div class="row">
      <p class="text-area col s12 center-align">Free on Wednesday night? Find who likes to jam then.<br>Don't wanna drag your stuff all over? See who's playing close by.<br>You play the keyboard like a champ but feel like trying the violin? See who needs a violinist.</p>
    </div>
  </div>

  <div id="instrument" class="section white-transparent hoverable">
    <div class="row">
      <h3 class="text-area col s12 center-align">Create a Jam</h3>
    </div>
    <div class="row">
      <p class="text-area col s12 center-align">Design your session the way <span id="you">you</span> want.<br>Choose the instruments, the time, and the place, and you're ready to go.</p>
    </div>
  </div>

</div>
