<div class="row">
  <div class="col s12 header hide-on-small-and-down">
    <h1 class="grey-text text-darken-3"> JAM </h1>
  </div>
</div>
<div class="row">
  <div class="col s12 header">
    <img src="/img/jam3.2.png">
  </div>
</div>


<div class="icon-nav">

  <div class="icon-nav-row row">
    <div class="col s4 center">
      <a href="#about">
        <h4>about</h4>
      </a>
    </div>
    <div class="col s4 center">
      <a href="#local">
        <h4>local</h4>
      </a>
    </div>
    <div class="col s4 center">
      <a href="#instrument">
        <h4>instrument</h4>
      </a>
    </div>
  </div>

</div>


<div class="row">

    <div id="about" class="section white-transparent scrollspy">
      <h3 class="text-area">Connecting Local Musicians</h3>
      <p class="text-area">You usually play bass with Kenny on guitar, Miranda on vocals, and Scott on drums. Kenny sucks, Miranda is condescending, and Scott always says he'll show up this time and then bails. <strong>You need a new group</strong>.</p>
    </div>

    <div id="local" class="section white-transparent scrollspy">
      <h3 class="text-area">Find a Jam by Location/Time/Instrument</h3>
      <p class="text-area">Free on Wednesday night? Find who likes to jam then. Don't wanna drag your stuff all over? See who's playing close by. You play the keyboard like a champ but feel like trying the violin? See who needs a violinist.</p>
    </div>

    <div id="instrument" class="section white-transparent scrollspy">
      <h3 class="text-area">Create a Jam</h3>
      <p class="text-area">Design your session the way <strong>you</strong> want. Choose the instruments, the time, and the place, and you're ready to go.</p>
    </div>

</div>

<script>
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>
