<div class="row">
  <div class="col s12 header hide-on-small-and-down">
    <h1 class="grey-text text-darken-3"> JAM </h1>
  </div>
</div>
<div class="row">
  <div class="col s12 header">
    <img src="/img/jam3.2.png">
  </div>
</div>


<div class="icon-nav">

  <div class="icon-nav-row row">
    <div class="col s4 center">
      <a href="#about">
        <h4>about</h4>
      </a>
    </div>
    <div class="col s4 center">
      <a href="#local">
        <h4>local</h4>
      </a>
    </div>
    <div class="col s4 center">
      <a href="#instrument">
        <h4>instrument</h4>
      </a>
    </div>
  </div>

</div>



<div id="about" class="section white-transparent scrollspy hoverable">
  <div class="row">
    <h3 class="text-area left col s12 l6">Connecting Local Musicians</h3>
  </div>
  <div class="row">
    <p class="text-area col s12 l6 right left-align">You play bass. Usually you get Kenny on guitar, Mirandavocals, and Scott on drums. Kenny sucks, Miranda is condescending, and Scott always says he'll show up this time and then bails. <br><font class="bold">You need a new group</font>.</p>
  </div>
</div>

<div id="local" class="section white-transparent scrollspy hoverable">
  <div class="row">
    <h3 class="text-area right col s12 l6 center-align">Find a Jam</h3>
  </div>
  <div class="row">
    <p class="text-area col s12 l6 left left-align">Free on Wednesday night? Find who likes to jam then. Don't wanna drag your stuff all over? See who's playing close by. You play the keyboard like a champ but feel like trying the violin? See who needs a violinist.</p>
  </div>
</div>

<div id="instrument" class="section white-transparent scrollspy hoverable">
  <div class="row">
    <h3 class="text-area left col s12 l6 center-align">Create a Jam</h3>
  </div>
  <div class="row">
    <p class="text-area col s12 l6 right left-align">Design your session the way <font class="bold">you</font> want. Choose the instruments, the time, and the place, and you're ready to go.</p>
  </div>
</div>

<div class="row">
  <p></p>
  <p></p>
</div>

<script>
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>
