<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Audiowide|Aldrich' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fullPage.js"></script>
    <script src="/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper white">
        <a href="/" class="brand-logo">
          <img class="top" src="/img/jam3alt2.png" alt="logo"/>
          <img class="bottom" src="/img/jam3brandlogobottom.png" alt="logo on hover"/>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" class="deep-orange-text text-darken-3">Jam</a></li>
          <li><a href="#signup" class="deep-orange-text text-darken-3 modal-trigger">Sign Up</a></li>
            <div id="signup" class="modal">
              <div class="modal-content">
                <h4 class="deep-orange-text text-darken-3">Sign Up</h4>

                <div class="row">

                  <form class="col s12" action="/signup">
                    <div class="row">
                      <div class="input-field col s6">
                        <input name="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input name="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                      </div>
                    </div>

                </div>

              </div>
              <div class="modal-footer">
                  <button type="submit" class="waves-light waves-effect btn-flat deep-orange">Submit</button>
                </form>
                  <a href="#!" class="modal-action modal-close waves-effect waves-deep-orange btn-flat">Close</a>
              </div>
            </div>


          <li><a href="#" class="deep-orange-text text-darken-3">Sign In</a></li>
        </ul>
      </div>
    </nav>

      <%= yield %>

  </body>
</html>
