<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Audiowide|Aldrich' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fullPage.js"></script>
    <script src="/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper white">
        <a href="/" class="brand-logo">
          <img class="top" src="/img/jam3alt2.png" alt="logo"/>
          <img class="bottom" src="/img/jam3brandlogobottom.png" alt="logo on hover"/>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" class="deep-orange-text text-darken-3">Jam</a></li>
          <li><a href="#" class="deep-orange-text text-darken-3">Sign Up</a></li>
          <li><a href="#" class="deep-orange-text text-darken-3">Sign In</a></li>
        </ul>
      </div>
    </nav>

      <%= yield %>

  </body>
</html>
