<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper white">
        <a href="/" class="brand-logo"><img src="http://www.pharmafile.com/system/files/imagecache/news_full/circleweb.jpg" alt="logo" height="60px" width="60px"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" class="deep-orange-text text-darken-3">Jams</a></li>
          <li><a href="#" class="deep-orange-text text-darken-3">Sign Up</a></li>
          <li><a href="#" class="deep-orange-text text-darken-3">Sign In</a></li>
        </ul>
      </div>
    </nav>

    <div class="container primary-container">
      <%= yield %>
    </div>

  </body>
</html>
