<div "row">
  <div class="col s12">
    <center><h1>Welcome!</h1></center>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <center><h3 class="deep-orange-text text-darken-3">Sign in to start jamming!</h3></center>
  </div>
</div>
<center><a class="waves-effect waves-light btn deep-orange darken-3" href="/">Home Page</a></center>
