<div id="fullpage">
  <div class="section">
    <div class="row">
      <div class="container">
        <div class="card white-transparent hoverable">
          <div class="card-content grey-text text-darken-3">
            <div class="col s12">
              <h1 class="grey-text text-darken-3 center-align">WE JAHMINN MON</h1>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <h4 class="deep-orange-text text-darken-3 center-align start-jammin">Sign in to start slappin da bass...</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
