body {
  background: url('/img/Hexagon-2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333;
}

nav {
  z-index: 1000;
}

.brand-logo {
  position: relative;
  height: 100%;
  width: 3rem;
  margin: auto 0.5rem;
}

.brand-logo img {
  height: 80%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#fullpage {
  margin-top: -4%;
}

#nav-mobile {
  width: 30% !important;
}

#jamdropdown li {
  min-width: 24.5%;
  background-color: rgba(255, 255, 255, 0.5);
}

#jamdropdown a {
  color: #d84315;
}

.jam-caret {
  margin: 0 !important;
}

.brand-logo img.bottom:hover {
  opacity: 0;
}

#nav-mobile {
  display: inline-block;
  width: 25%;
}

#nav-mobile li {
  width: 33.3%;
}

.header h1{
  font-weight: 400;
  text-align: center;
  font-size: 8rem;
  font-family: 'Aldrich', sans-serif;
  margin-bottom: -1%;
}

.header h5 {
  font-weight: 600;
  text-align:center;
}

.header img {
  width: 70%;
  margin-left:10%;
}

.white-transparent {
  background: rgba(255, 255, 255, 0.5)
}

.text-area {
  margin-left: 3%;
  margin-right: 3%;
}

.bold {
  font-weight: 600;
  font-size:1.8rem;
}

.more-top-padding {
  padding-top: 4rem;
}

#you {
  font-weight: 600;
  font-style: italic;
}

a {
  cursor: default;
  text-decoration: none;
  color: #333;
  transition:.5s ease;
}

a:hover {
  font-weight: 900;
  cursor: default;
  text-decoration: none;
  color: #333;
  transition:.5s ease;
}

h3 {
  font-weight: 600;
}

.row {
  margin-bottom: 0;
}

#about, #local, #instrument p{
  font-size:1.2rem;
}

.icon-xl {
  font-size: 36px;
}

.fix-icon-nav {
  top: 0;
  left: 15%;
  width: 70%;
  position: fixed;
}

/*forms*/
/* label color */
.input-field label {
  color: #3f3f3f;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #d84315;
}

.input-field input[type=email]:focus + label {
  color: #d84315;
}

.input-field input[type=tel]:focus + label {
  color: #d84315;
}

.input-field input[type=password]:focus + label {
  color: #d84315;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}

.input-field input[type=tel]:focus {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}


.modal-form input{
  color: #3f3f3f;
}

.modal-form input[type=text]:focus {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
}

.modal-form input[type=text]:focus + label {
  color: #d84315;
}

.modal-form .prefix {
  color: #3f3f3f;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #3f3f3f;
}


#pick-a-time {
  background: transparent;
  border: none;
  border-bottom: 1px solid #B2B2B2;
  line-height: 2.85;
  margin-bottom: 2%;
}

#pick-a-time:focus {
  border-bottom: 1px solid #d84315;
  box-shadow: 0 1px 0 0 #d84315;
  border:none;
}


/*style caret for state dropdown*/
.select-wrapper i {
  position: absolute;
  right: 0;
}

.select-wrapper {
  z-index: 10000;
  position:absolute;
}

#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

#map-canvas {
  height: 384px;
  width: 100%;
}

#map {
  width: 35rem;
  height: 30rem;
}

.down-arrow {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 2rem;
  text-align: center;
}

.up-arrow {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 4rem;
  text-align: center;
}

.center-arrow {
  margin-left:48%;
}

html {
  cursor: default;
}


.padded-row {
  padding: 1rem 0;
}

.card-content {
  overflow: auto;
}

.instrument-div {
  margin-top:5%;
}

.remove_field {
  color: #CC0000;
  margin-bottom: 2%;
  margin-right: 2%;
}

.list-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-content {
  overflow: hidden;
}
