body {
  background: url('/img/Hexagon-2.jpg');
  background-size: cover;
  background-position: center center;
  color: #333;
}

nav {
  position: fixed;
  z-index: 1000;
}

.brand-logo {
  position: relative;
  height: 100%;
  width: 3rem;
  margin: auto 2%;
  /*div not centered vertically. to solve later*/
}

.brand-logo img {
  height: 4rem;
  width: 3rem;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.brand-logo img.bottom:hover {
  opacity: 0;
}

.header h1{
  font-weight: 400;
  text-align: center;
  font-size: 8rem;
  font-family: 'Aldrich', sans-serif;
  margin-bottom: -1%;

}

.header img {
  width: 20%;
  margin-left:40%;
}

.white-transparent {
  background: rgba(255, 255, 255, 0.5)
}

.text-area {
  margin-left: 3%;
  margin-right: 3%;
}

.bold {
  font-weight: 600;
  font-size:1.8rem;
}

.more-top-padding {
  padding-top: 4rem;
}

#you {
  font-weight: 600;
  font-style: italic;
}

a {
  cursor: default;
  text-decoration: none;
  color: #333;
  transition:.5s ease;
}

a:hover {
  font-weight: 900;
  cursor: default;
  text-decoration: none;
  color: #333;
  transition:.5s ease;
}

h3 {
  font-weight: 600;
}

.row {
  margin-bottom: 0;
}

#about, #local, #instrument p{
  font-size:1.2rem;
}

.icon-xl {
  font-size: 36px;
}

.btn-xl {
  width: 12rem;
  height: 12rem;
}

.fix-icon-nav {
  top: 0;
  left: 15%;
  width: 70%;
  position: fixed;
}

/*forms*/

/* label color */
.input-field label {
  color: #3f3f3f;
}

.input-field input[type=text] {
  margin-left: 10%;
  color: #3f3f3f;
}


/* label focus color */
.input-field input[type=text]:focus + label {
  color: #bf360c;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
